@import './header.css';
@import './footer.css';
@import './home.css';
@import './StatsSection.css';
@import './TeacherSection.css';
@import './sec4.css';
@import './sec5.css';
@import './sec6.css';
@import './sec7.css';


*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

.container-center{
    width: 100%;            
    max-width: 1550px;       
    margin: 0 auto;    
    padding: 0 100px;  
    box-sizing: border-box;
}
@media (max-width: 1024px) {
    .container-center{    
        padding: 0 50px;  
        box-sizing: border-box;
    }
}
@media (max-width: 640px) {
    .container-center{    
        padding: 0 30px;  
        box-sizing: border-box;
    }
}

